/* ROLE TOGGLE */
.role-toggle {
  display: flex;
  margin-bottom: 15px;
  gap: 10px;
}

.role-toggle button {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  background: #eee;
  cursor: pointer;
  border-radius: 6px;
}

.role-toggle .active {
  background: #4cafef;
  color: white;
  border: none;
}