body {
  font-family: Arial;
  background: #f5f5f5;
}

input {
  padding: 10px;
  margin: 5px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

button {
  padding: 10px 15px;
  border: none;
  background: #4CAF50;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background: #45a049;
}

h2 {
  margin-bottom: 10px;
}
.navbar {
  background: #1e293b;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  align-items: center;
}

.nav-links a {
  margin-right: 15px;
  color: white;
  text-decoration: none;
}

.nav-links button {
  background: #ef4444;
  border: none;
  padding: 6px 10px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
.sidebar {
  width: 200px;
  background: #334155;
  color: white;
  height: 100vh;
  padding: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin: 15px 0;
  cursor: pointer;
}
.auth-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0f172a;
}